VITE_ADMIN_PASSWORD=cwb-socios
VITE_CRM_API_URL=
VITE_CRM_API_TOKEN=
DATABASE_URL=postgresql://USER:PASSWORD@HOST/neondb?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://USER:PASSWORD@HOST/neondb?sslmode=require
